/*	更新日期 2015年8月5日	*/

#content_box {
	width:55%;
	margin:0 auto;
}

#content_box .chapter {/*章节*/
	margin:20px auto;
	padding:14px 20px;
	box-shadow:0 2px 5px 0 #555;
	background-color:#FFF;
	border-radius:2px;
	opacity: 0;
	transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
}

#content_box .section {/*段落*/
	padding-top:14px;
	opacity: 0;
	transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
}

#content_box .content {/*内容*/
	font-size:16px;
	padding-top:14px;
	overflow-x:auto;
	line-height:27px;
	opacity: 0;
	transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
}

#content_box .note {/*注释*/
	font-size:12px;
	color:#259B24;
	padding-top:4px;
	font-weight:bold;
}

.saimg {
	display:block;
	margin:8px 0 12px 0;
	max-width: 97%;
	max-width:calc(100% - 8px);
	max-height: 700px;
	border:solid 1px #ccc;
	box-shadow: 5px 6px 8px -4px #aaa;
}
.magnifiable {
	 cursor: pointer;
 }
#mag_img_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	-webkit-animation: fade_in 0.3s ease-out;
	animation: fade_in 0.3s ease-out;
}
#mag_img {
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: move;
	transition: width 0.3s ease-out, margin 0.5s ease;
}

#content_box li {
	list-style-position:inside;
}

#content_box h1 {/*父标题*/
	font-size:22px;
	font-weight:bold;
}

#content_box h2 {/*子标题*/
	font-size:18px;
	font-weight:bold;
}

#content_box h3 {/*后代标题*/
	font-size:16px;
	font-weight:bold;
	padding-top:8px;
}

#content_box table, #content_box table td {/*表格*/
	border:solid 1px #000;
	border-collapse:collapse;
	padding:1px 4px;
}

#upper_box {/*上栏*/
	margin:20px auto;
	width:55%;
	padding:6px 0;
	box-shadow:0 2px 5px 0 #555;
	background-color:#FFF;
	border-radius:2px;
	opacity: 0;
	transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
}

#upper_box h1{/*上栏 标题*/
	font-size: 20px;
	font-weight: bold;
	margin:8px 20px;
}

#upper_box li {
	list-style-position:inside;
}

#upper_box .content {/*上栏 内容*/
	font-size:16px;
	margin:8px 20px;
	line-height:27px;
}

.break_word {
	word-break:break-all;
}

.fade_in {
	opacity: 1 !important;
}