/*	更新日期 2015年8月5日	*/

#content_box {
	width:90%;
	margin:0 auto;
}

#content_box .chapter {/*章节*/
	margin:15px auto;
	padding:16px 16px;
	box-shadow:0 2px 5px 0 #555;
	background-color:#FFF;
	border-radius:2px;
}

#content_box .section {/*段落*/
	padding-top:10px;
}

#content_box .content {/*内容*/
	font-size:16px;
	padding-top:12px;
	overflow-x:auto;
	line-height:24px;
}

#content_box .note {/*注释*/
	font-size:12px;
	color:#259B24;
	padding-top:4px;
	font-weight:bold;
}

.saimg {
	display:block;
	margin:6px 0 10px 0;
	max-width:calc(100% - 8px);
	max-height: 500px;
	border:solid 1px #ccc;
	box-shadow: 5px 6px 8px -4px #aaa;
}
.magnifiable {
	cursor: pointer;
}
#mag_img_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 998;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	-webkit-animation: fade_in 0.3s ease-out;
	animation: fade_in 0.3s ease-out;
}
#mag_img {
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: move;
	transition: width 0.3s ease-out, margin 0.4s linear;
}
#mag_close_btn {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 999;
	cursor: pointer;
}

#content_box li {
	list-style-position:inside;
}

#content_box h1 {/*父标题*/
	font-size:22px;
	font-weight:bold;
}

#content_box h2 {/*子标题*/
	font-size:18px;
	font-weight:bold;
}

#content_box h3 {/*后代标题*/
	font-size:16px;
	font-weight:bold;
	padding-top:6px;
}

#content_box table, #content_box table td {/*表格*/
	border:solid 1px #000;
	border-collapse:collapse;
	padding:1px 2px;
}

#upper_box {/*上栏*/
	margin:15px auto;
	width:90%;
	padding:10px 0;
	box-shadow:0 2px 5px 0 #555;
	background-color:#FFF;
	border-radius:2px;
}

#upper_box h1{/*上栏 标题*/
	font-size: 20px;
	font-weight: bold;
	margin:6px 16px;
}

#upper_box li {
	list-style-position:inside;
}

#upper_box .content {/*上栏 内容*/
	font-size:16px;
	margin:6px 16px;
	line-height:24px;
}

.break_word {
	word-break:break-all;
}